* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  /* make body full viewport height */
}

body {
  display: flex;
  margin: 0;
  justify-content: center;
  /* horizontal centering */
  align-items: center;
  background-color: #FF6B6B;
  font-family: Verdana, sans-serif;
}

main {
  display: grid;
  justify-items: center;
  text-align: center;
  padding: 10px;
  color: white;
  border-radius: 5px;
  margin: 0 auto;
}

main h1 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 5px;
}

a {
  display: inline-block;
  border: 2px outset rgba(255, 255, 255, 0.617);
  border-radius: 5px;
  background-color: lightsalmon;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-size: 1.3rem;
  color: white;
  box-shadow: 0 4px 12px white;
  cursor: pointer;
}

a:hover,
a:focus {
  background-color: #fd9e9ebf;
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
  transition: all 0.2s ease;
}


p {
  font-size: 1.6rem;
  margin: 20px;
}

.aside1 {
  background-color: #fd9e9ebf;
  color: white;
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 3px;
}

.aside2 {
  background-color: #ff9e9ebf;
  color: white;
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 3px;
}

.aside1 h2,
.aside2 h2 {
  font-size: 20px;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: normal;
}

.aside1 hr,
.aside2 hr {
  border: none;
  height: 1.5px;
  background-color: black;
  margin: 10px 0;
}

.top {
  display: flex;
  position: absolute;
  top: 10px;
  left: 10px;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  color: white;
}

.date {
  margin-bottom: 5%;
  padding: 5px;
  border-radius: 8px;
  background-color: #ff9e9ebf;
  color: white;
  box-shadow: 0 0 3px;
}

.weather {
  margin-bottom: 5%;
  padding: 5px;
  border-radius: 8px;
  background-color: #ff9e9ebf;
  color: white;
  box-shadow: 0 0 3px;
}

#weather-icon {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

li {
  padding: 1rem;
  color: white;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 10px;
  width: 100%;
  margin: 0;
  padding: 10px;
}

dialog {
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.quote {
  display: grid;
  width: 100%;
  justify-self: end;
  text-align: center;
  background-color: #FF6B6B;
  color: white;
  padding: 20px;
  border: none;
  border-radius: 8px;
}

.quote h2 {
  font-weight: lighter;
  margin-bottom: 10px;
  font-size: 1.2rem;
  text-align: center;
}

#quote-input {
  background-color: #ff9e9ebf;
  color: white;
  height: 20px;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  text-align: center;
}

#quote-input::placeholder {
  color: white;
}

/* Mobile View */
@media (min-width: 768px) {
  .wrapper {
    grid-template-areas:
      "top . ."
      "aside2 main aside1"
      ". quote .";
    grid-template-columns: 1fr auto 1fr;
    /* calendar | todo list */
    align-items: center;
    justify-items: center;
    gap: 1rem;
  }

  main {
    grid-area: main;
  }

  .top {
    grid-area: top;
  }

  .aside1 {
    grid-area: aside1;
  }

  .aside2 {
    grid-area: aside2;
  }

  .quote {
    grid-area: quote;
  }

}
